#playoffs-bracket-view{width:100%; margin-bottom:30px; margin-top: -80px; margin-left: -100px; margin-right: -100px;}

#playoffs-bracket-view .bracket-container{position:relative;padding-top:80%}

#playoffs-bracket-view .bracket-slot{width:4.5%;position:absolute;padding-top:4.5%;background-color:#999;border-radius:50%}

#playoffs-bracket-view .bracket-slot-content{position:absolute;left:0;right:0;top:0;bottom:0}

#playoffs-bracket-view .bracket-slot.round-4-winner.hidden{display:none}

#playoffs-bracket-view .bracket-rank{font-family:Sintony,Arial,sans-serif;font-weight:700;font-size:18px;position:absolute}

#playoffs-bracket-view .series-status{font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;font-size:14px;font-weight:700;position:absolute}

#playoffs-bracket-view .center-logo-container{position:absolute;width:31%;padding-top:31%}

#playoffs-bracket-view .center-logo{position:absolute;top:0;height:100%}

#playoffs-bracket-view .champion-logo-container{position:absolute;width:25%;padding-top:25%}

#playoffs-bracket-view .champion-logo-container.hidden{display:none}

#playoffs-bracket-view .champion-logo{position:absolute;top:0;height:100%}

#playoffs-bracket-view .broadcaster-logo-container{position:absolute;width:55%;padding-top:12%}

#playoffs-bracket-view .broadcaster-logo{position:absolute;top:0;height:100%}@media (max-width:1199px){#playoffs-bracket-view .series-status,#playoffs-bracket-view .bracket-rank{display:none}}




/* Vertical movement */
#playoffs-bracket-view .bracket-slot.eastern.round-1{right:-5%}

#playoffs-bracket-view .bracket-slot.western.round-1{left:6%}

#playoffs-bracket-view .bracket-slot.eastern.round-2{right:19%}

#playoffs-bracket-view .bracket-slot.western.round-2{left:19%}

#playoffs-bracket-view .bracket-slot.eastern.round-3{right:29%}

#playoffs-bracket-view .bracket-slot.western.round-3{left:29%}

#playoffs-bracket-view .bracket-slot.eastern.round-4{right:43%}

#playoffs-bracket-view .bracket-slot.western.round-4{left:43%}

#playoffs-bracket-view .bracket-slot.round-4-winner{left:50%}

#playoffs-bracket-view .series-status.eastern.round-1{right:12%}

#playoffs-bracket-view .series-status.western.round-1{left:12%}

#playoffs-bracket-view .series-status.eastern.round-2{right:23.5%}

#playoffs-bracket-view .series-status.western.round-2{left:23.5%}

#playoffs-bracket-view .series-status.eastern.round-3{right:35%}

#playoffs-bracket-view .series-status.western.round-3{left:35%}

#playoffs-bracket-view .series-status.round-4{left:50%}

#playoffs-bracket-view .bracket-rank.eastern{right:5%}

#playoffs-bracket-view .bracket-rank.western{left:5%}

#playoffs-bracket-view .center-logo-container,#playoffs-bracket-view .champion-logo-container,#playoffs-bracket-view .broadcaster-logo-container{left:50%}


/* Horizontal movement */
#playoffs-bracket-view .bracket-slot.central.round-1.rank-1,#playoffs-bracket-view .bracket-slot.atlantic.round-1.rank-1,#playoffs-bracket-view .bracket-rank.central.rank-1,#playoffs-bracket-view .bracket-rank.atlantic.rank-1{top:6.8%}

#playoffs-bracket-view .bracket-slot.central.round-1.rank-wc,#playoffs-bracket-view .bracket-slot.atlantic.round-1.rank-wc,#playoffs-bracket-view .bracket-rank.central.rank-wc,#playoffs-bracket-view .bracket-rank.atlantic.rank-wc{top:17.6%}

#playoffs-bracket-view .bracket-slot.central.round-1.rank-2,#playoffs-bracket-view .bracket-slot.atlantic.round-1.rank-2,#playoffs-bracket-view .bracket-rank.central.rank-2,#playoffs-bracket-view .bracket-rank.atlantic.rank-2{top:30%}

#playoffs-bracket-view .bracket-slot.central.round-1.rank-3,#playoffs-bracket-view .bracket-slot.atlantic.round-1.rank-3,#playoffs-bracket-view .bracket-rank.central.rank-3,#playoffs-bracket-view .bracket-rank.atlantic.rank-3{top:43%}

#playoffs-bracket-view .bracket-slot.pacific.round-1.rank-1,#playoffs-bracket-view .bracket-slot.metropolitan.round-1.rank-1,#playoffs-bracket-view .bracket-rank.pacific.rank-1,#playoffs-bracket-view .bracket-rank.metropolitan.rank-1{bottom:43%}

#playoffs-bracket-view .bracket-slot.pacific.round-1.rank-wc,#playoffs-bracket-view .bracket-slot.metropolitan.round-1.rank-wc,#playoffs-bracket-view .bracket-rank.pacific.rank-wc,#playoffs-bracket-view .bracket-rank.metropolitan.rank-wc{bottom:30%}

#playoffs-bracket-view .bracket-slot.pacific.round-1.rank-2,#playoffs-bracket-view .bracket-slot.metropolitan.round-1.rank-2,#playoffs-bracket-view .bracket-rank.pacific.rank-2,#playoffs-bracket-view .bracket-rank.metropolitan.rank-2{bottom:20%}

#playoffs-bracket-view .bracket-slot.pacific.round-1.rank-3,#playoffs-bracket-view .bracket-slot.metropolitan.round-1.rank-3,#playoffs-bracket-view .bracket-rank.pacific.rank-3,#playoffs-bracket-view .bracket-rank.metropolitan.rank-3{bottom:7%}

#playoffs-bracket-view .bracket-slot.central.round-2.team-upper,#playoffs-bracket-view .bracket-slot.atlantic.round-2.team-upper{top:13.5%}

#playoffs-bracket-view .bracket-slot.central.round-2.team-lower,#playoffs-bracket-view .bracket-slot.atlantic.round-2.team-lower{top:36.5%}

#playoffs-bracket-view .bracket-slot.pacific.round-2.team-upper,#playoffs-bracket-view .bracket-slot.metropolitan.round-2.team-upper{bottom:36.5%}

#playoffs-bracket-view .bracket-slot.pacific.round-2.team-lower,#playoffs-bracket-view .bracket-slot.metropolitan.round-2.team-lower{bottom:13.5%}




#playoffs-bracket-view .bracket-slot.central.round-3,#playoffs-bracket-view .bracket-slot.atlantic.round-3{top:22.3%}

#playoffs-bracket-view .bracket-slot.pacific.round-3,#playoffs-bracket-view .bracket-slot.metropolitan.round-3{bottom:25%}

#playoffs-bracket-view .bracket-slot.round-4{top:50%}

#playoffs-bracket-view .bracket-slot.round-4-winner{top:76%}

#playoffs-bracket-view .series-status.central.round-1.series-top,#playoffs-bracket-view .series-status.atlantic.round-1.series-top{top:13.5%}

#playoffs-bracket-view .series-status.central.round-1.series-bottom,#playoffs-bracket-view .series-status.atlantic.round-1.series-bottom{top:36.5%}

#playoffs-bracket-view .series-status.pacific.round-1.series-top,#playoffs-bracket-view .series-status.metropolitan.round-1.series-top{bottom:36.5%}

#playoffs-bracket-view .series-status.pacific.round-1.series-bottom,#playoffs-bracket-view .series-status.metropolitan.round-1.series-bottom{bottom:13.5%}

#playoffs-bracket-view .series-status.central.round-2,#playoffs-bracket-view .series-status.atlantic.round-2{top:25%}

#playoffs-bracket-view .series-status.pacific.round-2,#playoffs-bracket-view .series-status.metropolitan.round-2{bottom:25%}

#playoffs-bracket-view .series-status.eastern.round-3,#playoffs-bracket-view .series-status.western.round-3{top:50%}

#playoffs-bracket-view .series-status.round-4{top:82%}#playoffs-bracket-view .center-logo-container{top:19%}

#playoffs-bracket-view .champion-logo-container{top:69%}#playoffs-bracket-view .broadcaster-logo-container{top:92%}


/* Bracket size */

#playoffs-bracket-view .bracket-box{border-style:solid;border-color:#999;position:absolute}

#playoffs-bracket-view .bracket-box.western{border-width:5px 5px 5px 0}

#playoffs-bracket-view .bracket-box.eastern{border-width:5px 0 5px 5px}

#playoffs-bracket-view .bracket-box.western.round-4,#playoffs-bracket-view .bracket-box.eastern.round-4{border-width:2px 0 0 0}@media (max-width:799px){#playoffs-bracket-view .bracket-box.western{border-width:1px 1px 1px 0}

#playoffs-bracket-view .bracket-box.eastern{border-width:1px 0 1px 1px}

#playoffs-bracket-view .bracket-box.western.round-4,#playoffs-bracket-view .bracket-box.eastern.round-4{border-width:1px 0 0 0}}


/*Bracket height and width*/

/*Round 1*/
#playoffs-bracket-view .bracket-box.round-1{height:8%;width:3%}

#playoffs-bracket-view .bracket-box.western.round-1{left:10.5%}

#playoffs-bracket-view .bracket-box.eastern.round-1{right:0}

#playoffs-bracket-view .bracket-box.division-upper.matchup-upper.round-1{top:9.5%}

#playoffs-bracket-view .bracket-box.division-upper.matchup-lower.round-1{top:30%}

#playoffs-bracket-view .bracket-box.division-lower.matchup-upper.round-1{bottom:30%}

#playoffs-bracket-view .bracket-box.division-lower.matchup-lower.round-1{bottom:7%}

/*Round 2*/
#playoffs-bracket-view .bracket-box.round-2{height:15%;width:11.5%}

#playoffs-bracket-view .bracket-box.western.round-2{left:13.5%}

#playoffs-bracket-view .bracket-box.eastern.round-2{right:3.3%}

#playoffs-bracket-view .bracket-box.western.division-upper.round-2{top:13.5%}

#playoffs-bracket-view .bracket-box.western.division-lower.round-2{bottom:13.5%}

#playoffs-bracket-view .bracket-box.eastern.division-upper.round-2{top:13.5%}

#playoffs-bracket-view .bracket-box.eastern.division-lower.round-2{bottom:13.5%}


/*Round 3*/
#playoffs-bracket-view .bracket-box.round-3{height:30%;top:25%;width:12%}

#playoffs-bracket-view .bracket-box.western.round-3{left:25%}

#playoffs-bracket-view .bracket-box.eastern.round-3{right:14.8%}


/*Round 4*/
#playoffs-bracket-view .bracket-box.round-4{height:0;width:6%;top:50%}

#playoffs-bracket-view .bracket-box.western.round-4{left:37%}

#playoffs-bracket-view .bracket-box.eastern.round-4{right:37%}

#playoffs-round-tabs-container .playoff-round-tab__round-link .round-name-short{display:none}@media (max-width:839px){#playoffs-round-tabs-container .playoff-round-tab__round-link .round-name{display:none}#playoffs-round-tabs-container .playoff-round-tab__round-link .round-name-short{display:inline}}#playoffs-title .jumbotron-header{text-transform:none}


/*Team logo circle*/
/*Margin between teams*/

.quarter{width:50%;height:50%}

.top-left{border-top-left-radius:100%;float:left}

    .top-right{border-top-right-radius:100%;float:right}

    .bottom-left{border-bottom-left-radius:100%;float:left}

    .bottom-right{border-bottom-right-radius:100%;float:right}

#logo-l {
	width: 70%;
	height: 70%;
	position: absolute;
	top: 15%;
	left: 15%;
}

#logo-l img {
	z-index: 10;
	max-width:100%;
	max-height:100%;
	display: block;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

}

#wrap {
	width: 100%;
	height: 100%;
}


#circle {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 50%;
}

/*West*/
#stars {
	background: #006A4E;
}

#wild {
	background: #BF2B37;
}

#blues {
	background: #0546A0;
}

#hawks {
	background: #E3263A;
}

#ducks {
	background: #EF5225;
}

#predators {
	background: #FDBB2F;
}

#kings {
	background: #000000;
}

#sharks {
	background: #05535D;
}

/*East*/
#caps {
	background: #CF132B;
}

#flyers {
	background: #F47940;
}

#pens {
	background: #D1BD80;
}

#rangers {
	background: #0161AB;
}

#panthers {
	background: #D59C05;
}

#islanders {
	background: #00529B;
}

#tampa {
	background: #013E7D;
}


#wings {
	background:#EC1F26;
}
