#playoffs-bracket-view{margin-bottom:32px}

#playoffs-bracket-view .bracket-container{width:100%;position:relative;padding-top:85%}

#playoffs-bracket-view .bracket-slot{width:6.5%;position:absolute;padding-top:6.5%;background-color:#999;border-radius:50%}

#playoffs-bracket-view .bracket-slot-content{position:absolute;left:0;right:0;top:0;bottom:0}

#playoffs-bracket-view .bracket-slot.round-4-winner.hidden{display:none}#playoffs-bracket-view .bracket-rank{font-family:Sintony,Arial,sans-serif;font-weight:700;font-size:18px;position:absolute}

#playoffs-bracket-view .series-status{font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;font-size:14px;font-weight:700;position:absolute}#playoffs-bracket-view .center-logo-container{position:absolute;width:31%;padding-top:31%}

#playoffs-bracket-view .center-logo{position:absolute;top:0;height:100%}

#playoffs-bracket-view .champion-logo-container{position:absolute;width:25%;padding-top:25%}

#playoffs-bracket-view .champion-logo-container.hidden{display:none}#playoffs-bracket-view .champion-logo{position:absolute;top:0;height:100%}

#playoffs-bracket-view .broadcaster-logo-container{position:absolute;width:55%;padding-top:12%}#playoffs-bracket-view .broadcaster-logo{position:absolute;top:0;height:100%}@media (max-width:1199px){#playoffs-bracket-view .series-status,#playoffs-bracket-view .bracket-rank{display:none}}


#playoffs-bracket-view .bracket-slot.atlantic,#playoffs-bracket-view .bracket-slot.eastern.round-4{-webkit-transform:translate(50%,-50%);transform:translate(50%,-50%)}

#playoffs-bracket-view .bracket-slot.metropolitan{-webkit-transform:translate(50%,50%);transform:translate(50%,50%)}

#playoffs-bracket-view .bracket-slot.central,#playoffs-bracket-view .bracket-slot.western.round-4,#playoffs-bracket-view .bracket-slot.round-4-winner,#playoffs-bracket-view .center-logo-container,#playoffs-bracket-view .champion-logo-container,#playoffs-bracket-view .broadcaster-logo-container{-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}

#playoffs-bracket-view .bracket-slot.pacific{-webkit-transform:translate(-50%,50%);transform:translate(-50%,50%)}

#playoffs-bracket-view .series-status.central,#playoffs-bracket-view .series-status.western.round-3,#playoffs-bracket-view .bracket-rank.central{-webkit-transform:translate(-100%,-50%);transform:translate(-100%,-50%)}

#playoffs-bracket-view .series-status.pacific,#playoffs-bracket-view .bracket-rank.pacific{-webkit-transform:translate(-100%,50%);transform:translate(-100%,50%)}

#playoffs-bracket-view .series-status.atlantic,#playoffs-bracket-view .series-status.eastern.round-3,#playoffs-bracket-view .bracket-rank.atlantic{-webkit-transform:translate(100%,-50%);transform:translate(100%,-50%)
}

#playoffs-bracket-view .series-status.metropolitan,#playoffs-bracket-view .bracket-rank.metropolitan{-webkit-transform:translate(100%,50%);transform:translate(100%,50%)}

#playoffs-bracket-view .series-status.round-4{-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}



#playoffs-bracket-view .bracket-slot.eastern.round-1{right:9%}

#playoffs-bracket-view .bracket-slot.western.round-1{left:9%}

#playoffs-bracket-view .bracket-slot.eastern.round-2{right:19%}

#playoffs-bracket-view .bracket-slot.western.round-2{left:19%}

#playoffs-bracket-view .bracket-slot.eastern.round-3{right:31%}

#playoffs-bracket-view .bracket-slot.western.round-3{left:31%}

#playoffs-bracket-view .bracket-slot.eastern.round-4{right:43%}

#playoffs-bracket-view .bracket-slot.western.round-4{left:43%}

#playoffs-bracket-view .bracket-slot.round-4-winner{left:50%}

#playoffs-bracket-view .series-status.eastern.round-1{right:12%}

#playoffs-bracket-view .series-status.western.round-1{left:12%}

#playoffs-bracket-view .series-status.eastern.round-2{right:23.5%}

#playoffs-bracket-view .series-status.western.round-2{left:23.5%}

#playoffs-bracket-view .series-status.eastern.round-3{right:35%}

#playoffs-bracket-view .series-status.western.round-3{left:35%}

#playoffs-bracket-view .series-status.round-4{left:50%}

#playoffs-bracket-view .bracket-rank.eastern{right:5%}

#playoffs-bracket-view .bracket-rank.western{left:5%}

#playoffs-bracket-view .center-logo-container,#playoffs-bracket-view .champion-logo-container,#playoffs-bracket-view .broadcaster-logo-container{left:50%}

#playoffs-bracket-view .bracket-slot.central.round-1.rank-1,#playoffs-bracket-view .bracket-slot.atlantic.round-1.rank-1,#playoffs-bracket-view .bracket-rank.central.rank-1,#playoffs-bracket-view .bracket-rank.atlantic.rank-1{top:7%}

#playoffs-bracket-view .bracket-slot.central.round-1.rank-wc,#playoffs-bracket-view .bracket-slot.atlantic.round-1.rank-wc,#playoffs-bracket-view .bracket-rank.central.rank-wc,#playoffs-bracket-view .bracket-rank.atlantic.rank-wc{top:20%}

#playoffs-bracket-view .bracket-slot.central.round-1.rank-2,#playoffs-bracket-view .bracket-slot.atlantic.round-1.rank-2,#playoffs-bracket-view .bracket-rank.central.rank-2,#playoffs-bracket-view .bracket-rank.atlantic.rank-2{top:30%}

#playoffs-bracket-view .bracket-slot.central.round-1.rank-3,#playoffs-bracket-view .bracket-slot.atlantic.round-1.rank-3,#playoffs-bracket-view .bracket-rank.central.rank-3,#playoffs-bracket-view .bracket-rank.atlantic.rank-3{top:43%}

#playoffs-bracket-view .bracket-slot.pacific.round-1.rank-1,#playoffs-bracket-view .bracket-slot.metropolitan.round-1.rank-1,#playoffs-bracket-view .bracket-rank.pacific.rank-1,#playoffs-bracket-view .bracket-rank.metropolitan.rank-1{bottom:43%}

#playoffs-bracket-view .bracket-slot.pacific.round-1.rank-wc,#playoffs-bracket-view .bracket-slot.metropolitan.round-1.rank-wc,#playoffs-bracket-view .bracket-rank.pacific.rank-wc,#playoffs-bracket-view .bracket-rank.metropolitan.rank-wc{bottom:30%}

#playoffs-bracket-view .bracket-slot.pacific.round-1.rank-2,#playoffs-bracket-view .bracket-slot.metropolitan.round-1.rank-2,#playoffs-bracket-view .bracket-rank.pacific.rank-2,#playoffs-bracket-view .bracket-rank.metropolitan.rank-2{bottom:20%}

#playoffs-bracket-view .bracket-slot.pacific.round-1.rank-3,#playoffs-bracket-view .bracket-slot.metropolitan.round-1.rank-3,#playoffs-bracket-view .bracket-rank.pacific.rank-3,#playoffs-bracket-view .bracket-rank.metropolitan.rank-3{bottom:7%}

#playoffs-bracket-view .bracket-slot.central.round-2.team-upper,#playoffs-bracket-view .bracket-slot.atlantic.round-2.team-upper{top:13.5%}

#playoffs-bracket-view .bracket-slot.central.round-2.team-lower,#playoffs-bracket-view .bracket-slot.atlantic.round-2.team-lower{top:36.5%}

#playoffs-bracket-view .bracket-slot.pacific.round-2.team-upper,#playoffs-bracket-view .bracket-slot.metropolitan.round-2.team-upper{bottom:36.5%}

#playoffs-bracket-view .bracket-slot.pacific.round-2.team-lower,#playoffs-bracket-view .bracket-slot.metropolitan.round-2.team-lower{bottom:13.5%}

#playoffs-bracket-view .bracket-slot.central.round-3,#playoffs-bracket-view .bracket-slot.atlantic.round-3{top:25%}

#playoffs-bracket-view .bracket-slot.pacific.round-3,#playoffs-bracket-view .bracket-slot.metropolitan.round-3{bottom:25%}

#playoffs-bracket-view .bracket-slot.round-4{top:50%}

#playoffs-bracket-view .bracket-slot.round-4-winner{top:76%}

#playoffs-bracket-view .series-status.central.round-1.series-top,#playoffs-bracket-view .series-status.atlantic.round-1.series-top{top:13.5%}

#playoffs-bracket-view .series-status.central.round-1.series-bottom,#playoffs-bracket-view .series-status.atlantic.round-1.series-bottom{top:36.5%}

#playoffs-bracket-view .series-status.pacific.round-1.series-top,#playoffs-bracket-view .series-status.metropolitan.round-1.series-top{bottom:36.5%}

#playoffs-bracket-view .series-status.pacific.round-1.series-bottom,#playoffs-bracket-view .series-status.metropolitan.round-1.series-bottom{bottom:13.5%}

#playoffs-bracket-view .series-status.central.round-2,#playoffs-bracket-view .series-status.atlantic.round-2{top:25%}

#playoffs-bracket-view .series-status.pacific.round-2,#playoffs-bracket-view .series-status.metropolitan.round-2{bottom:25%}

#playoffs-bracket-view .series-status.eastern.round-3,#playoffs-bracket-view .series-status.western.round-3{top:50%}

#playoffs-bracket-view .series-status.round-4{top:82%}#playoffs-bracket-view .center-logo-container{top:19%}

#playoffs-bracket-view .champion-logo-container{top:69%}#playoffs-bracket-view .broadcaster-logo-container{top:92%}

#playoffs-bracket-view .bracket-box{border-style:solid;border-color:#999;position:absolute}#playoffs-bracket-view .bracket-box.western{border-width:2px 2px 2px 0}

#playoffs-bracket-view .bracket-box.eastern{border-width:2px 0 2px 2px}

#playoffs-bracket-view .bracket-box.western.round-4,#playoffs-bracket-view .bracket-box.eastern.round-4{border-width:2px 0 0 0}@media (max-width:799px){#playoffs-bracket-view .bracket-box.western{border-width:1px 1px 1px 0}

#playoffs-bracket-view .bracket-box.eastern{border-width:1px 0 1px 1px}

#playoffs-bracket-view .bracket-box.western.round-4,#playoffs-bracket-view .bracket-box.eastern.round-4{border-width:1px 0 0 0}}

#playoffs-bracket-view .bracket-box.round-1{height:13%;width:4.5%}#playoffs-bracket-view .bracket-box.western.round-1{left:9%}

#playoffs-bracket-view .bracket-box.eastern.round-1{right:9%}

#playoffs-bracket-view .bracket-box.division-upper.matchup-upper.round-1{top:7%}

#playoffs-bracket-view .bracket-box.division-upper.matchup-lower.round-1{top:30%}

#playoffs-bracket-view .bracket-box.division-lower.matchup-upper.round-1{bottom:30%}

#playoffs-bracket-view .bracket-box.division-lower.matchup-lower.round-1{bottom:7%}

#playoffs-bracket-view .bracket-box.round-2{height:23%;width:11.5%}

#playoffs-bracket-view .bracket-box.western.round-2{left:13.5%}

#playoffs-bracket-view .bracket-box.eastern.round-2{right:13.5%}

#playoffs-bracket-view .bracket-box.western.division-upper.round-2{top:13.5%}

#playoffs-bracket-view .bracket-box.western.division-lower.round-2{bottom:13.5%}

#playoffs-bracket-view .bracket-box.eastern.division-upper.round-2{top:13.5%}

#playoffs-bracket-view .bracket-box.eastern.division-lower.round-2{bottom:13.5%}

#playoffs-bracket-view .bracket-box.round-3{height:50%;top:25%;width:12%}

#playoffs-bracket-view .bracket-box.western.round-3{left:25%}

#playoffs-bracket-view .bracket-box.eastern.round-3{right:25%}

#playoffs-bracket-view .bracket-box.round-4{height:0;width:6%;top:50%}

#playoffs-bracket-view .bracket-box.western.round-4{left:37%}

#playoffs-bracket-view .bracket-box.eastern.round-4{right:37%}

#playoffs-round-tabs-container .playoff-round-tab__round-link .round-name-short{display:none}@media (max-width:839px){#playoffs-round-tabs-container .playoff-round-tab__round-link .round-name{display:none}#playoffs-round-tabs-container .playoff-round-tab__round-link .round-name-short{display:inline}}#playoffs-title .jumbotron-header{text-transform:none}