/*************************************************/
/* CSS for stanleycupbracket.site                */
/* Author: MH2                                   */
/* Version: 1.0                                  */
/*************************************************/

html {
	background-color: #eee;
	/*background: url(http://media.gettyimages.com/photos/nicklas-lidstrom-of-the-detroit-red-wings-celebrates-with-the-stanley-picture-id81777519) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;*/
}


/* General page sizing */
@media (min-width: 1308px)
#template {
    width: 1284px;
}
#template {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

/* General bracket and circle formatting */
#playoffs-bracket-view{
	width:90%; 
	margin-bottom:30px; 
	margin-right: auto;
	margin-left: auto;
}

.bracket-container{
	position:relative;
	padding-top:80%
}

.bracket-slot{
	width:4.5%;
	position:absolute;
	padding-top:4.5%;
	background-color:#999;
	border-radius:50%;
	z-index:17;
}

/* Winner */
.bracket-slot-winner{
	width:8%;
	position:absolute;
	padding-top:8%;
	background-color:#999;
	border-radius:50%
}

.bracket-slot-content{position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0
}


/* Stanley Cup Logo */
.logo-container{
	position:absolute;
	width:31%;
	padding-top:31%
}

.logo{
	position:absolute;
	top:0;
	height:100%
}



/* CIRCLE */
/* Horizontal movement */
.bracket-slot.eastern.round-1{right:0}

.bracket-slot.western.round-1{left:0}


.bracket-slot.eastern.round-2{right:11%}

.bracket-slot.western.round-2{left:11%}


.bracket-slot.eastern.round-3{right:23%}

.bracket-slot.western.round-3{left:23%}


.bracket-slot.eastern.round-4{right:37%}

.bracket-slot.western.round-4{left:37%}


.bracket-slot.round-4-winner{left:48%}

.bracket-slot-winner{left:46.25%}


/* Logo */
.logo-container{left:34.5%}


/* Vertical movement */
#playoffs-bracket-view .bracket-slot.central.round-1.rank-1,#playoffs-bracket-view .bracket-slot.atlantic.round-1.rank-1,#playoffs-bracket-view .bracket-rank.central.rank-1,#playoffs-bracket-view .bracket-rank.atlantic.rank-1{top:1%}

#playoffs-bracket-view .bracket-slot.central.round-1.rank-wc,#playoffs-bracket-view .bracket-slot.atlantic.round-1.rank-wc,#playoffs-bracket-view .bracket-rank.central.rank-wc,#playoffs-bracket-view .bracket-rank.atlantic.rank-wc{top:9.5%}

#playoffs-bracket-view .bracket-slot.central.round-1.rank-2,#playoffs-bracket-view .bracket-slot.atlantic.round-1.rank-2,#playoffs-bracket-view .bracket-rank.central.rank-2,#playoffs-bracket-view .bracket-rank.atlantic.rank-2{top:18.5%}

#playoffs-bracket-view .bracket-slot.central.round-1.rank-3,#playoffs-bracket-view .bracket-slot.atlantic.round-1.rank-3,#playoffs-bracket-view .bracket-rank.central.rank-3,#playoffs-bracket-view .bracket-rank.atlantic.rank-3{top:26.75%}

#playoffs-bracket-view .bracket-slot.pacific.round-1.rank-1,#playoffs-bracket-view .bracket-slot.metropolitan.round-1.rank-1,#playoffs-bracket-view .bracket-rank.pacific.rank-1,#playoffs-bracket-view .bracket-rank.metropolitan.rank-1{bottom:57.5%}

#playoffs-bracket-view .bracket-slot.pacific.round-1.rank-wc,#playoffs-bracket-view .bracket-slot.metropolitan.round-1.rank-wc,#playoffs-bracket-view .bracket-rank.pacific.rank-wc,#playoffs-bracket-view .bracket-rank.metropolitan.rank-wc{bottom:49.2%}

#playoffs-bracket-view .bracket-slot.pacific.round-1.rank-2,#playoffs-bracket-view .bracket-slot.metropolitan.round-1.rank-2,#playoffs-bracket-view .bracket-rank.pacific.rank-2,#playoffs-bracket-view .bracket-rank.metropolitan.rank-2{bottom:40.2%}

#playoffs-bracket-view .bracket-slot.pacific.round-1.rank-3,#playoffs-bracket-view .bracket-slot.metropolitan.round-1.rank-3,#playoffs-bracket-view .bracket-rank.pacific.rank-3,#playoffs-bracket-view .bracket-rank.metropolitan.rank-3{bottom:31.8%}


/* Round 2 */
.bracket-slot.central.round-2.team-upper,.bracket-slot.atlantic.round-2.team-upper{top:5.1%}

.bracket-slot.central.round-2.team-lower,.bracket-slot.atlantic.round-2.team-lower{top:22.4%}

.bracket-slot.pacific.round-2.team-upper,.bracket-slot.metropolitan.round-2.team-upper{bottom:53.5%}

.bracket-slot.pacific.round-2.team-lower,.bracket-slot.metropolitan.round-2.team-lower{bottom:36%}



/* Round 3 */
.bracket-slot.central.round-3,.bracket-slot.atlantic.round-3{top:13.5%}

.bracket-slot.pacific.round-3,.bracket-slot.metropolitan.round-3{bottom:45.5%}



.bracket-slot.round-4{top:30%}

.bracket-slot.round-4-winner{top:46%}

.bracket-slot-winner{top:42%}

.logo-container{top:0}



/* BRACKETS */
/* Bracket size */

.bracket-box{
	border-style:solid;
	border-color:#999;
	position:absolute;
}

.bracket-box.western{border-width:5px 5px 5px 0}

.bracket-box.eastern{border-width:5px 0 5px 5px}

.bracket-box.western.round-4,.bracket-box.eastern.round-4{border-width:5px 0 0 0}

@media (max-width:799px){.bracket-box.western{border-width:1px 1px 1px 0}

.bracket-box.eastern{border-width:1px 0 1px 1px}

.bracket-box.western.round-4,.bracket-box.eastern.round-4{border-width:1px 0 0 0}}

/* Bracket round 1 color */
/* Caps v Flyers */
.bracket-box.eastern.division-upper.matchup-upper.round-1 {
	border-color: #;
}
/* Tampa v Wings */
.bracket-box.eastern.division-lower.matchup-lower.round-1 {
	border-color: #013E7D;
}
/* Florida v Isles */
.bracket-box.eastern.division-upper.matchup-lower.round-1 {
	border-color: #;
}
/* Pens v Rangers */
.bracket-box.eastern.division-lower.matchup-upper.round-1 {
	border-color: #D1BD80;
}

/* Stars v Wild */
.bracket-box.western.division-upper.matchup-upper.round-1 {
	border-color: #;
}
/* Blues v Hawks */
.bracket-box.western.division-lower.matchup-upper.round-1 {
	border-color: #;
}
/* Ducks v Preds */
.bracket-box.western.division-upper.matchup-lower.round-1 {
	border-color: #;
}
/* Kings v Sharks */
.bracket-box.western.division-lower.matchup-lower.round-1 {
	border-color: #05535D;
}

/* Bracket round 2 end mask and color */
.bracket-box.mask {
	height: 17%;
	width: 5.75%;
	z-index: 15;
	border-width: 5px 0px 5px 0;
}

.bracket-box.edu.mask {
	border-top-color:#;
	border-bottom-color:#D1BD80;

}

.bracket-box.edl.mask {
	border-top-color:#;
	border-bottom-color:#013E7D;

}

.bracket-box.wdu.mask {
	border-top-color:#;
	border-bottom-color:#;

}

.bracket-box.wdl.mask {
	border-top-color:#;
	border-bottom-color:#05535D;

}


/*Bracket height and width*/

/*Round 1*/
.bracket-box.round-1{height:8%;width:3%}

.bracket-box.western.round-1{left:4.5%}

.bracket-box.eastern.round-1{right:4.5%}

.bracket-box.division-upper.matchup-upper.round-1{top:3.8%}

.bracket-box.division-upper.matchup-lower.round-1{top:39.5%}

.bracket-box.division-lower.matchup-upper.round-1{bottom:70.2%}

.bracket-box.division-lower.matchup-lower.round-1{bottom:34.5%}

/*Round 2*/
.bracket-box.round-2{height:17%;width:11.5%}

.bracket-box.western.round-2,.wdu.mask,.wdl.mask{left:7.5%}

.bracket-box.eastern.round-2,.edu.mask,.edl.mask{right:7.5%}

.bracket-box.western.division-upper.round-2,.wdu.mask{top:7.75%}

.bracket-box.western.division-lower.round-2,.wdl.mask{bottom:38.75%}

.bracket-box.eastern.division-upper.round-2,.edu.mask{top:7.75%;border-color:#;}

.bracket-box.eastern.division-lower.round-2,.edl.mask{bottom:38.75%;border-color: #;}


/*Round 3*/
.bracket-box.round-3{height:35%;top:16.25%;width:12%}

.bracket-box.western.round-3{left:19%}

.bracket-box.eastern.round-3{right:19%}


/*Round 4*/
.bracket-box.round-4{height:0;width:6%;top:32.5%}

.bracket-box.western.round-4{left:31%}

.bracket-box.eastern.round-4{right:31%}


/*Team logo circle*/
/*Margin between teams*/

.quarter{width:50%;height:50%}

.top-left{border-top-left-radius:100%;float:left}

    .top-right{border-top-right-radius:100%;float:right}

    .bottom-left{border-bottom-left-radius:100%;float:left}

    .bottom-right{border-bottom-right-radius:100%;float:right}

#logo-l {
	width: 70%;
	height: 70%;
	position: absolute;
	top: 15%;
	left: 15%;
}

#logo-l img {
	z-index: 10;
	max-width:100%;
	max-height:100%;
	display: block;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

}

#wrap {
	width: 100%;
	height: 100%;
}


#circle {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 50%;
}

/*West*/
#stars {
	background: #006A4E;
}

#wild {
	background: #BF2B37;
}

#blues {
	background: #0546A0;
}

#hawks {
	background: #E3263A;
}

#ducks {
	background: #EF5225;
}

#predators {
	background: #FDBB2F;
}

#kings {
	background: #000000;
}

#sharks {
	background: #05535D;
}

/*East*/
#caps {
	background: #CF132B;
}

#flyers {
	background: #F47940;
}

#pens {
	background: #D1BD80;
}

#rangers {
	background: #0161AB;
}

#panthers {
	background: #D59C05;
}

#islanders {
	background: #00529B;
}

#tampa {
	background: #013E7D;
}


#wings {
	background:#EC1F26;
}